@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
  /* For offline demo purposes, the font is given locally */
}

/* apply to all */
* {
  /* border-box: use margins and padding sizes 
  when calculating width and height of an item */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.5px;
  background-color: rgb(230, 230, 230);
}

.navbar {
  background-color: #008ac9;
  height: 60px;
  color: #fff;
}
/* Apply flex to navbar nav: Home, About, Contact */
.navbar ul {
  display: flex;
}

/* Remove default list item styling (dot symbols) */
ul {
  list-style-type: none;
}

/* Put margins in between list items of navbar nav*/
.navbar ul li {
  margin-left: 20px;
}

/* Apply font setting to the logo in navbar section*/
.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

/* common container settings */
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 30px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar a {
  color:#fff;
  text-decoration: none;
}

/* change color of nav items when hovered*/
.navbar a:hover {
  color: black;
}

/* Put margin befor and after text blocks*/
h1, h2, p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 3rem;
  line-height: 1.5;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* limit size of*/
.header img {
  max-width: 400px;
}

.boxes .container {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  background-color: #008ac9;
  color:#fff;
  border-radius: 20px;
  /* vertical | horizontal */
  margin: 20px 20px;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 20px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

@media screen and (max-width:768px){
  /*  change the direction of the flex*/
  .header .container {
    flex-direction: column;
    text-align: center;
  }

  /* when the width of screen is smaller than 768px
    set display property as block, so it can take full space
  */
  .boxes .container {
    display: block;
  }
}